{{ form_start(formView, {'attr': {'class': 'filter js-filter-form', 'action': path('product_edit', {'id': product.id}) }}) }}
{{ form_errors(formView) }}
<div class="row">
	<div class="col">
		{{ form_row(formView.name) }}
		{{ form_row(formView.price) }}
	</div>
	<div class="col">
		{{ form_row(formView.shortDescription) }}
		{{ form_row(formView.mainPicture) }}
		{{ form_row(formView.category) }}
		{{ form_row(formView.type, {
            attr: {
                'data-specific-type-url': path('admin_product_type_select'),
                'class': 'js-product-form-type'
            }
        }) }}
		<div class="js-specific-type-target">
			{% if formView.statut is defined %}
				{{ form_row(formView.statut) }}
			{% endif %}
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Ajouter des tags
			</button>
		</div>
		<!-- Modal -->
		{% include "partials/_modal_tags.html.twig" %}
	</div>
</div>
<button type="submit" class="btn btn-primary">
	<i class="fas fa-save"></i>
	{{ button_text }}
</button>
{{ form_end(formView) }}
