{% extends "base.html.twig" %}

{% block title %}
	Editer le tag
	{{ tag.name }}
{% endblock %}

{% block body %}
	<h1>Editer le tag :
		{{ tag.name }}</h1>
	{{ form_start(formView) }}
	{{ form_errors(formView) }}
	<div class="row">
		<div class="col">
			{{ form_row(formView.name) }}
		</div>
	</div>
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Edition
	</button>
	{{ form_end(formView) }}
	{# {{ include('partials/_form.html.twig', {button_text: 'Modifier le produit'}) }} #}
{% endblock %}
